.dashboard {
    margin: 45px 30px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 820px;
    width: 50%;
    min-width: 465px;

    @media screen and (max-width: 1030px) {
        width: 100%;
        margin: 0% ;
    }   

    .top-block{
        position: sticky;
        background-color: $white;
        z-index: 1;
        top: 69px;
        @media screen and (max-width: 585px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 280px;
            width: 100%;
        }
    }

    .guide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60px;
        padding-top: 20px;
        padding-bottom: 40px;
        @media screen and (max-width: 585px) {
            padding-bottom: 80px;
        }

        .status, .interests{
            width: 465px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @media screen and (max-width: 585px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: fit-content;
            }

            span {
                width: 140px;
                font-size: 16px;
            }
        }
    }
    
    .places-list {
        z-index: auto;
        @media screen and (max-width: 1030px) {
            margin: 100px 0px ;
        }
        .place {
            margin: 45px 0px ;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;

            @media screen and (max-width: 585px) {
                flex-direction: column-reverse;
                margin: 5px 0px ;
            }
     
            .place-infos {
                display: flex;
                flex-direction: row;
                justify-content: left;
                @media screen and (max-width: 585px) {
                    flex-direction: column;
                    align-items: center;
                }

                .edit-button {
                    width: fit-content;
                    height: 50px;
                    margin: 37px 0px 0px 0px;
                    border-radius: 30px;
                    position: relative;
                    top: -10px;
                    @media screen and (max-width: 585px) {
                        margin-top: 25px;
                        padding: 7px 15px;
                        height: fit-content;
                    }
                }

                .infos {
                    width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin: 5px 30px;
                    
                    .infos-text {
                        margin: 0px 0px;
                    }
                    .infos-interests {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;

                        .icon {
                            font-size: 20px;
                            padding-right: 30px;
                        }
                    }
                }
                

                .set-infos-form {
                    width: 422px;

                    .error{
                        position :relative;
                        top: -12px;
                    }
                    .title {
                        padding-left: 8px;
                        width: 100px;
                        @media screen and (max-width: 585px) {
                            display: none;
                        }
                    }
                    .name, .email, .address {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        input {
                            padding: 5px;
                            width: 328px;
                            position: relative;
                            top: -4px;
                        }
                    }
                    .interests {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        
                        .block {
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                        }
                        
                        .checks-container {
                            margin-left: 25px;
                            height: 50px;
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            align-items: flex-start;
                            position: relative;
                            top: -4px;
                            left: -27px
                        }
                    }
                                      
                    .edit-buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        position: relative;
                        left: -45px;
                        @media screen and (max-width: 585px) {
                            left: 0px;
                            width: 250px;
                        }
                        
                        button {
                            border-radius: 30px;
                        }
                    }
                }
                    
            }

            .updating-state {
                position: relative;
                top: 25px;
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                
                @media screen and (max-width: 585px) {
                    top: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;                    
                }

                select {
                    height: 37px;
                }
                                
                button {
                    padding: 7px;
                    border-radius: 10%;
                    background-color: $color-3;
                    
                    color: $white;
                    font-size: 14px;
                }
            }

            .status-icon{
                padding: 7px;
                height: fit-content;
                width: fit-content;
                border-radius: 100%;
                background-color: $white;
                size: 20px;
                position: relative;
                top: -15px;
                margin: 45px 0px;

                @media screen and (max-width: 585px) {
                    width: 100%;
                    top: 0px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    span {
                        text-align: center;
                    }
                }
            }
        }
    }

    .add-place {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 1030px) {
            margin-top: 100px;
        }

        h2 {
            width: fit-content;
            position :relative;
            left: 100px;
            @media screen and (max-width: 1030px) {
                position: fixed;
            }
        }
        
        .add-form {
            margin-top: 30px ;
            @media screen and (max-width: 585px) {
                width: fit-content;
            }

            .error{
                position :relative;
                top: -12px;
            }

            .title {
                padding-left: 8px;
                width: 100px;

                @media screen and (max-width: 585px) {
                    display: none;
                }
            }
            
            .name, .email, .address {
                display: flex;
                flex-direction: row;
                justify-content: left;

                @media screen and (max-width: 585px) {
                    width: fit-content;
                }

                input {
                    padding: 5px;
                    width: 365px;
                    position: relative;
                    top: -4px;
                    @media screen and (max-width: 585px) {
                        width: fit-content;
                    }
                }
            }
            .interests {
                display: flex;
                flex-direction: row;
                justify-content: left;
                
                .block {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                }
                
                .checks-container {
                    margin-left: 25px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: flex-start;
                    position: relative;
                    top: -4px;
                    left: -23px;
                    @media screen and (max-width: 585px) {
                        flex-direction: column;
                    }
                }
            }

            .edit-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                left: 100px;
                width: 300px;
                @media screen and (max-width: 585px) {
                    width: 250px;
                    position: static;
                }

                button {
                    border-radius: 30px;
                }
            }
        }
        .edit-button {
            border-radius: 30px;

            @media screen and (max-width: 585px) {
                align-items: center;
                width: fit-content;
            }
        }
    }
}
